#mainHeader {
  position: fixed;
  top: 0; /* يبدأ ظاهر بالكامل */
  left: 0;
  width: 100%;
  transition: top 0.5s;
  z-index: 999;
}

body {
  padding-top: 80px; /* ارتفاع الشريط */
}


.navbar-brand-img  img{ 
  height: 50px;
}



.nav-link{
  color: #556a89;
  padding-left: 0;
  padding-right: 0;
  font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.nav-link-{
 
  text-decoration: none;
}

.nav-link:active {
  color: #e6c5ba !important; /* اللون الجديد أثناء الكبس */
}



h1 {
  background-position: center;;
  font-size: 50px;
  color: #556a89;
  font-family: 'Cormorant Garamond', serif;
}

.subtitle {
    color: #edd5cf;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 7px;
    word-spacing: 7px;
}

.intro {

  font-family: 'Cormorant Garamond', serif;
  background-color: #fff;
  font-style: italic;
  height:auto;
  font-size: 15px;
  padding: 20px;
  position: relative;
  line-height: 2;
  width: 300px;
  margin-bottom: 100px;
  color:#556a89;
}
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 50px;
  text-align: center;
}

.swiper {
  width: 100%;  /* عرض السلايدر */
  height: 100%;  /* ارتفاع السلايدر */
  border-radius: 8px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  
}
.swiper-button-next,
.swiper-button-prev {
  color: white; /* لون السهم */
  background-color: #edd5cf; /* الخلفية الدائرية */
  width: 80px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* تقريب الأسهم من الصور */
.swiper-button-next {
  right: 100px;
}

.swiper-button-prev {
  left: 100px;
}

/* تكبير حجم الأيقونة */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
}



.pink-button{
  position: absolute;
  top: 400px;   /* المسافة من أعلى الصورة */
  left: 100px;  /* المسافة من يسار الصورة */
  text-decoration: none;
  color: #556a89;
  font-weight: 80px;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 5px;
  padding: 10px 20px;
  z-index: 2;
  line-height: 2;
}

/* المربع الزهري خلف النص */
.pink-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  #edd5cf; /* زهري */
  z-index: -1;
  border-radius: 5px;
  transform: translateX(0);
}

/* الحركة */
@keyframes moveSides {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(8px); }
  50%  { transform: translateX(-8px); }
  75%  { transform: translateX(6px); }
  100% { transform: translateX(0); }
}

.pink-button.animate::before {
  animation: moveSides 0.5s ease;
}

.text2-section {
  flex: 1;
  width: 100%;
  height: auto;
  padding: 200px;
  background-position: left;
background-image: url("./imge/img2.jpg");
background-repeat: no-repeat;

}
  

.my-title{
  color: #556a89;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    line-height: 1.5em;
    margin-left: 700px;
}
.myp{
 
  font-size: 25px;
    line-height: 1.75em;
    margin: 0 0 10px;
    color: #556a89;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;}

.image-zoom {
  overflow: hidden;
}

.image-zoom img {
  width: 700px; /* عرض أكبر */
  height: 400px; /* ارتفاع أكبر */
  object-fit: cover; /* يضبط الصورة بدون تشويه */
  transition: transform 0.4s ease;
}

.image-zoom img:hover {
  transform: scale(1.1); /* تكبير بسيط عند الماوس */
}

.makeup {
  text-align: center;
  margin-top: 10px;
  font-size: 1.3rem;
  color: #556a89;
}



.makeup{
color: #556a89;
background-color: #fff;
font-family: 'Cormorant Garamond', serif;
margin-top: 10px;
padding: 10px;
text-transform: none;
font-weight: 300;
line-height: 1.5em;
text-align: center;
}
.photo{
  
  min-height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
  background-color: #f4f7fb;
 

}
   
.footer  {
  background-color:#556a89;
  color: white;
}

  h3 {

  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}
 h6{
  color: #edd5cf;
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-left: 3px;
}

 p {
  margin: 0;
  font-size: 15px;
  line-height: 2;
  font-family: 'Outfit', sans-serif;
}

footer .text-uppercase {
  letter-spacing: 2px;
  font-size: 12px;
  opacity: 0.8;
}

.myp2{
 
  font-size:20px;
    line-height: 1.75em;
    margin: 0 0 20px;
    color: #556a89;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
  }
  .about-text {
  top: 80%;
  left: 0%;
  width: 43%;
  z-index: 2;
}
.mytitile{
  font-family: 'Cormorant Garamond', serif;
  color: #556a89;
}
.p-My-Introduction{
  font-size: 15px;
    line-height: 1.75em;
    margin: 0 0 20px;
    color: #556a89;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}
.h6-assistant{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
    margin: 10;
    font-size:15px;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 200;
     color: #556a89;
}
.text-p{
  font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
     color: #556a89;
}

.title-services{
  color: #556a89;
  font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    line-height: 1.5em
}

.p-services{
 font-size: 15px;
    line-height: 1.75em;
    margin: 0 0 20px;
    color: #556a89;
    font-weight: 100;
    font-family: 'Outfit', sans-serif;

}
.custom-title{
  color: #556a89;
    font-family: 'Cormorant Garamond', serif;
 
}